
p {
    font-family: Playfair Display;
    font-size: 20px;
    color: darkblue;
    text-align: center;
}
h2{
    font-family:Designer;
    font-size:40px;
    color:darkblue;
    text-align:center;
}
* {
    box-sizing: border-box;
}


.column {
    float: left;
    width: 45%;
    height: auto;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    margin: 5px 2px;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

a:link, a:visited {
    
    color: white;
    padding: 7px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
p11{
    color:yellow;
    font-family:Designer;
    font-size:20px;
    text-align:center;
}
body{
    background-color:black;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

p33 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000116;
}

.slider {
    position: relative;
    background: #000116;
    width: 800px;
    min-height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

    .slider .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: circle(0% at 0 50%);
    }

        .slider .slide.active {
            clip-path: circle(150% at 0 50%);
            transition: 2s;
        }

        .slider .slide img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .slider .slide .info {
            position: absolute;
            color: #222;
            background: rgba(255, 255, 255, 0.3);
            width: 75%;
            margin-top: 50px;
            margin-left: 50px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
        }

            .slider .slide .info h2 {
                font-size: 2em;
                font-weight: 800;
            }

            .slider .slide .info p {
                font-size: 1em;
                font-weight: 400;
            }

.navigation {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider:hover .navigation {
    opacity: 1;
}

.prev-btn, .next-btn {
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility {
    z-index: 999;
    display: flex;
    justify-content: center;
}

    .navigation-visibility .slide-icon {
        z-index: 999;
        background: rgba(255, 255, 255, 0.5);
        width: 20px;
        height: 10px;
        transform: translateY(-50px);
        margin: 0 6px;
        border-radius: 2px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

        .navigation-visibility .slide-icon.active {
            background: #4285F4;
        }

@media (max-width: 900px) {
    .slider {
        width: 100%;
    }

        .slider .slide .info {
            position: relative;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
}

@media (max-width: 500px) {
    .slider .slide .info h2 {
        font-size: 1.8em;
        line-height: 40px;
    }

    .slider .slide .info p {
        font-size: 0.9em;
    }
}
      